# OS
.DS_Store

# Python
*.pyc
*.pyo

# Common IDEs
*.swp
.idea/
.buildpath
.project
.settings
atlassian-ide-plugin.xml
*.sublime-*

# Media
/media

# Project
/pvcloud/local_settings.py
build/

# database file
db.*
*.cnf

# log
*.log
